.feat{
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feat__icon{
    border: solid 10px var(--secondary-color);
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.feat__title{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
