:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  --main-color: #2c3e50;
  --secondary-color: #00bc77;
  --bg-color : #12002b;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}



