.banner{
    background-image: url("/src/assets/img/bank-tree.webp");
    background-origin: border-box;
    background-clip: border-box;
    object-fit: fill;
    background-position: 25% 35%;
    height: 550px;
    position: relative;
}